body{
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #1ABC9C;
}

.container{
    margin-top: 100px;
}

.login-form{
    text-align: right;
}

.login-form .login-link{
    display: inline-block;
    margin-left: 10px;
}