body{

     background-color: #EDEFF1;

}
.header{
    padding-top: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 15px;

}

.header .logo{
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1;
    color: inherit;
    font-size: 35px;
    vertical-align: bottom;
}

.header .logo img{
    max-width: 45px;
    max-height: 45px;
}

.jumps{
    padding-bottom: 30px;
    padding-top: 50px;
    background-color: #1ABC9C;
}

.jumps .well{
    min-height: 280px;
}

.jumps .jobs,.tomato,.todo{
    padding-top: 20px;
    text-align: center;
}

.jumps .todo{
    border-width: 4px;
    border-radius: 5px 5px 0px 0px;
    background-color: #1ABC9C;
    border-bottom: none;
}

.jumps .jobs{
    border-width: 4px;
    border-radius: 5px 5px 0px 0px;
    background-color: #1ABC9C;
    border-top: none;
}

.jumps .jobs,.todo .icon{

}

.jumps .tomato{


}

#tomato-list{
    padding: 0px;
}

#tomato-list li{

    background-color: #EDEFF1;
    list-style: none;
    background-size: 20px 20px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.214;
    margin-top: 2px;
    position: relative;
    -webkit-transition: 0.25s;
    transition: 0.25s;

}

#tomato-list .tomato-item label{
    color: #1ABC9C;
    font-size: 17px;
    margin: 1px 0 3px;
   font-family: "Lato", Helvetica, Arial, sans-serif;
}

.jumps .tomato  .icon{
    margin-bottom: 40px;
}

.jumps .tomato .clock, .summary{
    display: none;
    position: relative;
}

.jumps .tomato .summary .btn-finish{

    margin-top: 160px;
}

.jumps .tomato .clock{
    text-align: center;
    vertical-align: middle;
    padding-top: 80px;
}

.jumps .jobs  .icon{
    margin-top: 80px;
}

.jumps .tomato .clock .clock_display{
    font-weight: bolder;
    font-size: 50px;
}

.jumps .icon{
    margin-top:40px;
}

.footer{
     background-color: #EDEFF1;
    margin-top:30px;
}
