::-webkit-scrollbar {
    width: 4px;
    height: 12px;
    -webkit-border-radius: 12px;
}

::-webkit-scrollbar-thumb {
background: #1ABC9C;
-webkit-border-radius: 12px;
}

::-webkit-scrollbar-track {
    background: rgb(245, 245, 245);
}

body{

     background-color: #EDEFF1;

}
.header{
    padding-top: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 15px;

}

.header .logo{
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1;
    color: inherit;
    font-size: 35px;
    vertical-align: bottom;
}

.header .logo img{
    max-width: 45px;
    max-height: 45px;
}

.jumps{
    padding-bottom: 30px;
    padding-top: 50px;
    background-color: #1ABC9C;
}

.jumps .well{
    min-height: 280px;
}

.jumps .jobs,.tomato,itodo{
    padding-top: 20px;
    text-align: center;
}

.jumps .itodo{
    border-width: 4px;
    border-radius: 5px 5px 0px 0px;
    background-color: #EDEFF1;
    border-bottom: none;
}

.jumps .jobs{
    border-width: 4px;
    border-radius: 5px 5px 0px 0px;
    background-color: #EDEFF1;
    border-top: none;
}

.jumps .jobs,.itodo .icon{

}

.jumps .tomato{


}


.jumps .tomato  .icon{
    margin-top: 60px;
    margin-bottom: 40px;
}

.jumps .tomato .clock, .summary{
    display: none;
    position: relative;
}

.jumps .tomato .summary .btn-finish{

    margin-top: 160px;
}

.jumps .tomato .clock{
    text-align: center;
    vertical-align: middle;
    padding-top: 80px;
}

.jumps .jobs  .icon{
    margin-top: 65px;
}

.jumps .tomato .clock .clock_display{
    font-weight: bolder;
    font-size: 50px;
}

.jumps .icon{
    margin-top:20px;
}


.jobs .tomato-status,#tomato-list{
    display: none;
}

.footer{
     background-color: #EDEFF1;
    margin-top:30px;
}

#todo-list,#todo-empty{
    display: none;
}

#todo-empty{
    text-align: center;
}


#todo-list{


}


#tomato-list{
    padding: 0px;
    overflow: auto;
    height: 232px;
}

.list, .item{

    padding: 4px;
    background-color: #FFF;
    border:2px solid #FFF;
    list-style: none;
    background-size: 20px 20px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.214;
    margin-top: 2px;
    position: relative;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    border-radius: 5px;
    border-bottom: 1px dashed #DDD;

}

.list .item .trash{
    float: right;
    margin-right: 15px;
    display: none;
}


.list .item:hover .trash{
    display: block;
}

.list .editing .title{
    display: none;
}



.list .editing:hover .trash{
    display: none;
}

.list .item .tomato-edit{
    display: none;
}

.list .editing .tomato-edit{
    display: block;
}


.list .item .title h6{
    color: #34495E;
    font-size: 14px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    display: inline-block;
    float: left;
    margin:0;
    margin-left: 5px;
    text-align: left;
}

.list .item .created{
    color:#1ABC9C;
    font-size:12px;
}
