body{

     background-color: #EDEFF1;

}
.header{
    padding-top: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 15px;

}

.header .logo{
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1;
    color: inherit;
    font-size: 35px;
    vertical-align: bottom;
}

.header .logo img{
    max-width: 45px;
    max-height: 45px;
}

.jumps{
    padding-bottom: 30px;
    padding-top: 50px;
    background-color: #1ABC9C;
    min-height: 380px;
}

.jumps .jobs,.tomato,.todo{
    padding-top: 20px;
}

.jumps .jobs, .todo{
    border-width: 4px;
    border-radius: 5px 5px 0px 0px;
    background-color: #1ABC9C;
    border-bottom: none;
    min-height: 260px;
}

.jumps .tomato{
    text-align: center;
}

.jumps .tomato .clock{
    margin:40px;
}

.footer{
     background-color: #EDEFF1;
    margin-top:30px;
}
