<!DOCTYPE html>
<html>
  <head>
    <title>TT-番茄</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/css/flat-ui.css" rel="stylesheet" media="screen">
    <link href="../static/css/login.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="../static/icons/favicon.ico">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../static/js/html5shiv.js"></script>
      <script src="../static/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-1">
                <div class="login-icon" style="display:none">
                    <img src="/static/images/icon.png" alt="Welcome to Mail App">
                    <h4>Welcome to <small>Mail App</small></h4>
                 </div>
            </div>
            <div class="col-md-4">
                <div class="login-form">
                    <form id="login-form" method="post">
                        <div class="form-group">
                          <input type="text" class="form-control login-field" value="" name="email" placeholder="登录邮箱" id="login-name">
                          <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control login-field" value="" name="password" placeholder="登录密码" id="login-pass">
                          <label class="login-field-icon fui-lock" for="login-pass"></label>
                        </div>
                        <a class="btn btn-primary btn-lg btn-block btn-submit" href="#">登录</a>
                        <a class="login-link" href="/sigup">注册新账号</a>
                        <a class="login-link" href="#">忘记密码?</a>
                    </form>
                 </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/lib/jquery.js"></script>
    <script src="../static/js/lib/underscore.js"></script>
    <script src="../static/js/lib/backbone.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/lib/bootstrap.min.js"></script>
    <script src="../static/js/plugin/login.js"></script>
  </body>
</html>